<%- include('partials/HeaderIsLogin', {title: "Reserve Room", user}) %>
<%- include('partials/Navbar') %>
<div class="container">
  <form action="/hotel/detail/<%= user.id %>/booking/<%= room.id %>" method="post">
    <div class="form-group">
      <label for="">Check In</label>
      <input type="date" class="form-control mb-3" name="checkIn">
      <label for="">Check Out</label>
      <input type="date" class="form-control mb-3" name="checkOut">
      <h3>Would you like to book this room? </h3>

      <input type="number" hidden name="UserId" value="<%= user.id %>">
      <input type="number" hidden name="RoomId" value="<%= room.id %>">
      <input type="number" hidden name="totalPrice" value="<%= room.price %>">
      <input type="text" hidden name="status" value="Success">
    </div>
    <button class="btn btn-warning">YES</button>
  </form>
</div>
<%- include('partials/Footer') %>