<%- include('partials/Header', {title: "Reserve Room", user}) %>
<%- include('partials/Navbar') %>
<% if (errors){ %>
  <div class="alert alert-danger mt-3" role="alert">
    <%= errors %>
  </div>
<%} %>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Check In</th>
        <th>Batas Check Out</th>
        <th>Price</th>
        <th>Room Number</th>
        <th>Hotel</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((e, i) => { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= e.checkIn %></td>
          <td><%= e.checkOut %></td>
          <td><%= e.totalPrice %></td>
          <td><%= e.Room.roomNumber %></td>
          <td><%= e.Room.Hotel.name %></td>
          <td><%= e.status %></td>
          <td>
            <a class="btn btn-warning" href="/checkout/<%= e.id %>">Check Out</a>
          </td>
        </tr>
      <%}) %>
    </tbody>
  </table>
</div>
<%- include('partials/Footer') %>